<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <title>View Claim</title>
</head>
<body>
    <div class='container bg-light'>
        <div class='row bg-dark text-white'>
            <h1 class='col'>Welcome {{ current_user.first_name }} {{ current_user.last_name }}</h1>
            <div class="dropdown col">
                <a class="btn btn-primary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Main Menu
                </a>
              
                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                  <a class="dropdown-item" href="/patient/">Patient Registration</a>
                  <a class="dropdown-item" href="/claim_dashboard/">Claims Dashboard</a>
                  <a class="dropdown-item" href="/logout/">Logout</a>
                </div>
              </div>
        </div>
            <div class='card mt-4 mb-4'>
                <div class='card-header'>
                    <div class='row'>
                        <h3 class='card-title col'><b>Claim Number:</b> {{ my_claim.claim_number }}</h3>
                        <h3 class='card-title col'><b>Patient:</b> {{ my_claim.patient.first_name}} {{ my_claim.patient.last_name }}</h3>
                    </div>
                    <div class='row'>
                        <h3 class='card-title col'><b>User:</b> {{ my_claim.user.first_name }} {{ my_claim.user.last_name }}</h3>
                        <h3 class='card-title col'><b>Date of Service:</b> {{ my_claim.date_of_service }}</h3>
                    </div>
                    <div class='row'>
                        <h3 class='card-title col'><b>Insurance:</b> {{ my_claim.insurance.insurance_company }}</h3>
                        <form class='col' action='/edit_claim/{{ my_claim.id }}' method='POST'>
                            {% csrf_token %}
                            <input type="hidden" name='claim_id' value='{{ my_claim.id }}'>
                            <input type='hidden' name='patient_id' value='{{ my_claim.patient.id }}'>
                            <button class='btn btn-primary' type='submit'>Edit Claim</button>
                        </form>
                    </div>
                </div>
                <div class='class-body'>
                    <p class='lead m-4'>{{ my_claim.issue }}</p>
                </div>
                <div class='card-footer'>
                    <div class='row'>
                        <p class='col'><b>Created At:</b> {{ my_claim.created_at }}</p>
                        <p class='col'><b>Updated At:</b> {{ my_claim.updated_at }}</p>
                    </div>
                </div>
            </div>
        <div class=row>
        </div>
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li {% if message.tags %} class='{{ message.tags }}'{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        <form action='/process_action' method="POST">
            {% csrf_token %}
            <h4>Add Action:</h4>
            <input type='hidden' name='claim_id' value='{{ my_claim.id }}'>
            <input type='hidden' name='user.id' value='{{ my_claim.user.id }}'>
            <div class='row'>
                <div class='col'>
                    <label for='action_type'>Action Type:</label>
                    <select id='action_type' name='action_type'>
                        {% for actionType in all_action_types %}
                        <option value='{{ actionType.id }}'>{{ actionType.type }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class='col'>
                    <label for='follow_up'>Follow Up:</label>
                    <input type='checkbox' name='follow_up' id='follow_up'>
                </div>
                <div class='col'>
                    <label for='follow_up_days'>Follow Up Days:</label>
                    <input type='number' id='follow_up_days' name='follow_up_days' default='0'>
                </div>
            </div>
            <label for='note'>Note:</label>
            <textarea class='form-control' id='note' name='note'></textarea>
            <button class='btn btn-primary m-4' type='submit'>Submit Action</button>
        </form>
        <table class='w-100 table-info table-striped'>
            <thead>
                <tr>
                    <th>ID</td>
                    <th>Insurance</th>
                    <th>Follow Up Date</th>
                    <th>Note</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% if my_actions.count > 0 %}
                    {% for action in my_actions %}
                    <tr>
                        <td>{{ action.id }}</td>
                        <td>{{ my_claim.insurance.insurance_company }}</td>
                        <td>{{ action.follow_up_date }}</td>
                        <td>{{ action.note }}</td>
                        <td><a href='/view_action/{{ action.id }}'>View Action</a></td>
                    </tr>
                    {% endfor %}
                {% endif %}
            </tbody>
        </table>
        {% if user_type == 'admin' %}
        <form class='form-group m-4 p-4 bg-dark text-warning border border-black rounded' action='/delete_claim' method='POST'>
            {% csrf_token %}
            <label>Claims are part of the patient record! ONLY DELETE CLAIMS that are mistakenly entered</label>
            <input type='hidden' name='claim_id' value='my_claim.id'>
            <label for='delete_text'>Confirm delete by typing DELETE exactly as shown in text field</label>
            <input id='delete_text' type='text' name='delete_text'>
            <label for='delete_check'>Also confirm delete by checking box</label>
            <input id='delete_check' type='checkbox' name='delete_check'>
            <button class='btn btn-danger' type='submit'>Delete</button>
        </form>
        {% endif %}
    </div>
</body>
</html>